<h1>Edit game</h1>

<form id="edit-game" name="game">
  <div class="field">
    <label for="address"> address:</label>
    <input type="text" name="address" id="address" value=<%= address %> >
  </div>

  <div class="field">
    <label for="zip"> zip:</label>
    <input type="text" name="zip" id="zip" value=<%= zip %> >
  </div>

  <div class="actions">
    <input type="submit" value="Update Game" />
  </div>

</form>

<a href="#/index">Back</a>