

<a style="float: right;font-size: 16px;" href="/logout">Logout</a>
<h1>Hello, <%= FoodPicker.current_user.name %></h1>

<br /><br />

<h1>Current Games</h1>

<% if (games.length == 0) { %>
  No Games, <a href="#/new">Start a New Game</a>
<% } %>

<div id="games"></div>


or <a href="#/new">Start a New Game</a>


