

<h1>Who are you?</h1>

<form id="select-user">
  <select name="user_id">
    <% _.each(users, function(user){ %>
      <option value=""></option>
      <option value="new_user">I'm not listed...</option>
      <option value="<%= user.id %>"><%=user.name%></option>
    <% }); %>
  </select>
  <input type="submit" value="This is me!" />
</form>

<br /><br />

<h1>Current Games</h1>

<% if (games.length == 0) { %>
  No Games, <a href="#/new">Start a New Game</a>
<% } %>

<div id="games"></div>



