<h1>New game</h1>

<form id="new-game" name="game">
  <div class="field">
    <label for="address"> address:</label>
    <input type="text" name="address" id="address" value=<%= address %> >
  </div>
  
  <div class="field">
    <label for="state"> state:</label>
    <input type="text" name="state" id="state" value=<%= state %> >
  </div>

  <div class="field">
    <label for="zip"> zip:</label>
    <input type="text" name="zip" id="zip" value=<%= zip %> >
  </div>

  <div class="actions">
    <input type="submit" value="Create Game" />
  </div>

</form>

<a href="#/index">Back</a>
