<div id="games"></div>

<script type="text/javascript">
  $(function() {
    // Blog is the app name
    window.router = new FoodPicker.Routers.GamesRouter({games: <%= @games.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>

